body, html {
	min-width: 320px;
	margin: 0;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif; 
	color: #303030;
	height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
.navbar__contacts {
	height: 50px;
	margin: 0 0 91px 0;
}
.ya-share2__link {
	padding: 0px !important;
}
.navbar__contacts a {
	color: #00CCFF;
	line-height: 20px;
	padding: 0;
}
.navbar__contacts .fas {
	color: #000;
	font-size: 30px;
	background-color: #EEE;
	border-radius: 50%;
	height: 48px;
 	width: 48px;
 	text-align: center;
 	padding: 8px 0 0 0;
}
.navbar__main .navbar-brand {
	padding: 0;
}
.navbar__main img {
	max-height: 90px;
}
.navbar__main {
	background-color: #F8F8F8;
	font-size: 18px;
	top: 50px;
}
.navbar__main__menu a {
	text-transform: uppercase;
	color: #303030;
}
.navbar__main__menu a:hover {
	color: #33CCFF;
}
.currentPage {
	color: #33CCFF !important;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px !important;
}
.navbar__main__menu a {
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.navbar__main__menu a:hover {
 	background-size: 100% 2px;
}
.presentation {
	background-image: url(../img/presentation__bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0;
}
.presentation__left-side__top {
	font-size: 40px;
	color: #FFF;
	line-height: 1.3;
}
.presentation__left-side__bottom button {
	padding: 9px 22px;
	margin: 10px 0 0 0;
	border-radius: 5px;
	font-size: 18px;
}
.footer__row {
	height: 60px;
	text-align: center;
	align-items: center;
	background-color: #33CCFF;
}
.services {
	padding: 40px 0;
	background-color: #F8F8F8;
	top: 200px;
	opacity: 0;
	position: relative;
}
.services h2 {
	padding: 0 0 20px 0;
}
.services__buttons button {
	padding: 9px 22px;
	margin: 20px 0 0 0;
	border-radius: 5px;
	font-size: 18px;
	width: 100%;
}
.services__buttons .fas {
	padding: 0 8px 0 0;
}
.services__buttons .dropdown,.dropup {
	margin: 15px 0;
}
.services__buttons .dropdown-menu {
	width: 600px;
	padding: 20px;
	border: 2px solid #0D6EFD;
}
.about-us {
	padding: 40px 0;
	background: linear-gradient(#D1F3FF, #F8F8F8);
	top: 500px;
	opacity: 0;
	position: relative;
}
.about-us__left-side__top,.aboutCompany__left-side__top {
	font-size: 20px;
	color: #303030;
	line-height: 1.3;
}
.about-us__left-side__bottom button {
	padding: 9px 22px;
	margin: 30px 0 0 0;
	border-radius: 5px;
	font-size: 18px;
}
.about-us h2 {
	padding: 0 0 40px 0;
}
.about-us .about-us__left-side__bottom h4 {
	padding: 20px 0 20px 0;
}

.clients {
	padding: 0 0 40px 0;
	background-color: #FFF;
	top: 500px;
	opacity: 0;
	position: relative;
}
.clients h2 {
	padding: 40px 0;
}
.clients img {
	max-height: 80px;
	max-width: 170px;
	margin: 0 10px;
}
.clients .far {
	color: #303030;
}
.clients .fas {
	color: #303030;
	font-size: 30px;
}
#clients__slider .carousel-inner{
	height: 100px !important;
}
.button-up {		
  	border: 0;
  	font-size: 50px;
  	border-radius: 50%;
  	background-color: #FFF;
  	position: fixed;
  	right: 15px;
  	bottom: 15px;
  	padding: 0;
  	line-height: 50px;
  	display: none;
  	color: #0D6EFD;
}
.objects {
	padding: 0 0 40px 0;
	background-color: #F8F8F8;
	top: 500px;
	opacity: 0;
	position: relative;
}
.objects h2 {
	padding: 0 0 50px 0;
}
.objects .card {
	background-color: #F8F8F8;
	border: 0;
}
.objects .card-body {
	top: -100px;
	opacity: 0;
	position: relative;
	color: #303030;
	padding: 0;
}
.aboutCompany {
	background: linear-gradient(#F8F8F8, #D1F3FF);
	padding: 40px 0;
}
.dividingRow1 {
	height: 100px;
	background: linear-gradient(to right, #D1F3FF, #0D6EFD);
}
.dividingRow2 {
	height: 100px;
	background: linear-gradient(to left, #D1F3FF, #0D6EFD);
}
.advantages {
	background: linear-gradient(#D1F3FF, #F8F8F8);
	padding: 40px 0;
}
.advantages h2 {
	padding: 0 0 30px 0;
}
.advantages .card {
	font-size: 20px;
	color: #303030;
	line-height: 1.3;
	border: 0;
	background: none;
}
.advantages span {
	width: 150px;
	height: 150px;
	background-color: #303030;
	padding-top: 25px;
	transition: all 1s;
}
.advantages span:hover {
	color: #FFF;
}
.advantages .fab,.advantages .fas,.advantages .far {
	border-radius: 50%;
	color: #D1F3FF;
}
.team {
	background: #F8F8F8;
	padding: 40px 0;
}
.team h2 {
	padding: 0 0 30px 0;
}
.team .card {
	border: 0;
	background: none;
}
.team img {
	max-width: 250px;
	max-height: 400px;
}
.service5 {
	padding: 20px 0;
	background: #F8F8F8;
}
.service1, .service3 {
	padding: 20px 0;
	background: linear-gradient(#F8F8F8, #D1F3FF);
}
.service2, .service4 {
	padding: 20px 0;
	background: linear-gradient(#D1F3FF, #F8F8F8);
}
.service1 img, .service2 img, .service3 img, .service4 img, .service5 img {
	max-height: 550px;
}
.service1 h2, .service2 h2, .service3 h2, .service4 h2, .service5 h2 {
	padding: 20px 0;
}
.service1 button, .service2 button, .service3 button, .service4 button, .service5 button {
	padding: 9px 22px;
	margin: 10px 0 0 0;
	border-radius: 5px;
	font-size: 18px;	
}
.service1__left-side, .service2__left-side, .service3__left-side, .service4__left-side, .service5__left-side{
	font-size: 18px;
}
.gallery {
	padding: 40px 0;
}
.gallery .col {
	padding: 10px;
	margin: 10px;
}
.gallery .card {
	border: 0;
}
.gallery .card a {
	text-decoration: none;
	color: #303030;
}
.gallery .card-body {
	opacity: 0;
	position: relative;
	padding: 5px;
}
.modal {
	border: 0;
}
.modal-body {
	background: linear-gradient(#F8F8F8, #D1F3FF);
}
.modal-content {
	border: 0;
}
.modal-footer {
	border: 0;
}
.modal__body {
	padding: 40px 0 0 0;
}

.modal__body a {
	text-decoration: none;
	color: #303030;
	font-size: 18px;
}

.contacts h2 {
	padding: 40px 0;
}

.contacts i  {
	color: #303030;
	font-size: 18px;
	padding: 0 5px;
}
.contacts ul {
	list-style-type: none;
}
.contacts li {
	padding: 10px 0;
	font-size: 18px;
}
.contacts a {
	padding: 0;
	color: #303030;
	text-decoration: underline;
}
.contacts {
	flex: 1 1 auto;
}
.wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.footer__row {
	flex: 0 0 auto;
}
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
	.gallery .card-body {
		left: 0px;
	}
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
	/*.services__buttons button {
		padding: 5px;
		margin: 0;
	}*/
	.about-us__left-side__top {
		font-size: 18px;
	}
	.gallery .card-body {
		left: 0px;
	}
}
@media (max-width: 991.98px) {
	.presentation__left-side__top {
		font-size: 30px;
	}
	.navbar__contacts {
		padding: 0;
	}
	.navbar__contacts .navbar-nav {
		flex-direction: row;
	}
	.navbar__contacts .nav-item {
		margin: 0 2px;
	}
	/*.services__buttons button {
		margin: 0;
	}*/
	.about-us__left-side__top {
		font-size: 16px;
	}
	.gallery .card-body {
		left: 0px;
	}
	.about-us__left-side__top {
		padding: 0 30px;
	}
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
	/*.services__buttons button {
		padding: 5px;
		margin: 0;
	}*/
}
@media (max-width: 767.98px) {
	.navbar__contacts .nav-item {
		padding: 0 3px;
		font-size: 12px;
	}
	.presentation .row {
		text-align: center;
	}
	.presentation__left-side {
		padding: 0 0 30px 0;
	}
	/*.services__buttons button {
		font-size: 16px;
	}*/
	.about-us__left-side {
		padding: 0 0 30px 0;
	}
 	.objects .card-body {
 		opacity: 1;
 		top: 0;
 	}
 	.gallery .card-body {
 		opacity: 1;
 	}
 	.dividingRow1, .dividingRow2 {
 		height: 50px;
 	}
}
@media (max-width: 575.98px) {
	.services__buttons button {
		font-size: 16px;
	}
	/*.contacts ul {
	padding: 0 0 0 80px;
	}*/
}
